.spotify-section {
  text-align: center;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  iframe {
    border-radius: 8px;
    width: 30%;
  }
}

.spotify-section iframe {
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 15px #e6007e;
}